header {
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #25105f;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0!important;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 12px;
}

nav a:hover {
    color: skyblue;
}

.aboutMe, .myHobbies, .portfolio, .education, .contactInfo, .myTop, .shortInfo {
    width: 70%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.767);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.301);
}

.aboutMe h2, .myHobbies h2, .portfolio h2, .education h2, .contactInfo h2, .myTop h2 {
    background-color: #25105f;
    color: #fff;
    padding: 5px 10px;
}

.aboutMe p, .myHobbies p {
    line-height: 1.6;
}

.section1 img {
    float: left;
    margin-top: 70px;
    margin-right: 20px;
    border-radius: 30%;
    box-shadow: 0 0 15px rgba(31, 14, 107, 0.623);
}

#firstG  {
    color: #991187;
}

#secondG {
    color: #a71616;
}

.galleryOne, .galleryTwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galleryOne, .galleryTwo {
    margin: 10px;
    text-decoration: none;
    transition: transform 0.5s ease-in-out;
}

.galleryOne img, .galleryTwo img {
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 250px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
}

.galleryOne a:hover, .galleryTwo a:hover{
    transform: scale(1.05);
}

.galleryThree {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    text-align: center;
}

.galleryThree a, .galleryFour a {
    display: block;
    overflow: hidden;
    border-radius: 8px;
}

.galleryThree img, .galleryFour img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    transition: transform 0.3s ease-in-out;
}

.galleryThree a:hover img, .galleryFour a:hover img {
    transform: scale(1.05);
}

.galleryFour {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
}

footer {
    background-color: #25105f;
    color: white;
    padding: 20px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

form button {
    background-color: #160d99;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: #3c3692;
    transform: scale(1.1);
}

@media screen and (min-width:768px) and (max-width: 1024px) {
    body {
        font-size: 1.2em;
    }

    .aboutMe,
    .myHobbies,
    .portfolio,
    .education,
    .contactInfo,
    .myTop,
    .shortInfo {
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    .section1 img {
        float: none;
        margin-top: 20px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    nav {
        padding: 10px 0;
    }

    .galleryThree,
    .galleryFour {
        display: block;
    }

    form {
        max-width: none;
    }
}

@media screen and (min-width:480px) and (max-width: 768px) {
    body {
        font-size: 1.1em;
    }

    .aboutMe,
    .myHobbies,
    .portfolio,
    .education,
    .contactInfo,
    .myTop,
    .shortInfo {
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }

    .section1 img {
        float: none;
        margin-top: 20px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    nav {
        padding: 10px 0;
    }

    .galleryThree,
    .galleryFour {
        display: block;
    }

    form {
        max-width: none;
    }
}
